*{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 0;
	font-family: "Century Gothic", sans-serif;
}

html{
	background-color: #fce7d8;
}
body{
	box-sizing: border-box;
}
.navigation{
	display: inline-block;
	background-color:#fff;
	opacity:0.8;
}

.header-img{
	z-index: -1;
	position: absolute;
}

.S{
	display: none;
}
.M{
	display:none;
}
header a img{
	float: left;
	width: 25%;
	opacity: 0.8;
	margin:0;
	padding: 0;
}
header p{
	font-size: 2.9em;
	margin: 17% 8% 90px 0;
	color: #fff;
	width:80%;
	font-style: italic;
	float:right;
	z-index: 2;
}
.burger-menu{
	display:none;
	width: 40px;
	height: 40px;
}
nav{
	float:right;
	list-style: none;
	opacity: 0.8;
	background-color: #fff;
	width: auto;
	z-index: 1;
	padding: 2.5% 0 2.5% 0;
}
nav ul li{
	display: inline-block;
	float:left;
	text-align: center;
	width:auto;
}

nav ul li a{
	margin: 0;
	text-decoration: none;
	text-align: center;
	color:#000;
	padding:0 20px;
	width: auto;
	font-size: 1.5em;
	clear: right;
}
nav ul li :hover{
	color: #e53270;
}

/*------End of header--------*/

.one-third{
	width: 33.3%;
	float:left;
	text-align: center;
	background-color:#ed7f33;
	padding: 10px 0;
	margin-bottom: 30px;
}
.one-third img{
	width:115px;
	height: 115px;
}
.one-third img:hover{
	opacity: 0.8;
}

/*-------End of three big icons------*/
	#beach{
		clear: both;
		margin-bottom: 20px;
		height: 100%;
	}
	#city{
		clear: both;
		margin-bottom: 20px;
		height: 100%;
	}

	.tours{
		padding: 0 5%;
		width: 90%;
		clear: both;
		margin-bottom: 10%;
	}
	.tours img{
		z-index: -1;
		position: absolute;
		margin-top: 0;
		width: 90%;
	}
	h2{
		width: auto;
		background-color: #fff;
		opacity: 0.75;
		font-size: 2em;
		text-align: center;
		float: left;
	}
	article{
		background-color: #fff;
		opacity: 0.75;
		width: 50%;
		clear: both;
		font-size: 1.7em;
		float: right;
		text-align: left;
		margin: 0 3.5% 1% 0;
		padding: 1.5%;
	}
	button{
		background-color: #e53270;
	  opacity:0.9;
	  color: #fff;
	  border-style: none;
	  border-radius: 12px;
	  font-family: "Century Gothic";
	  font-size: 26px;
	  height: 50px;
	  width: 180px;
	  text-align: center;
	  transition: all 0.05s;
	  cursor: pointer;
	  float: right;
		margin-right: 2%;
		clear: right;
		margin-bottom: 5%;
	}
	button:hover{
	  background-color: #e53270;
	  opacity:1;
	}
	#button:active{
	  background-color: #e53270;
	}
	/*-----------End of tours----------*/

	.social img{
		padding: 8px 10px 8px 0;
		width:58px;
		height: 58px;
		float:right;
	}
	footer{
		clear: both;
		background-color: #e53270;
		text-align: left;
		float: left;
		width: 100%;
	}

	footer p{
		padding: 2.3% 0 0 2.3%;
		width: auto;
		float: left;
	}

/*------------End of footer------------*/
/*------------START OF MEDIA QUERIES-------------*/
@media screen and (max-width: 768px){
	.S{
		display: none;
	}
	.L{
		display: none;
	}
	.M{
		display: block;
	}

	article{
		font-size: 1.5em;
	}

	footer p{
		padding: 2.5% 0 0 2.5%;
		width: auto;
		float: left;
	}
}
