html{
	background-color: #fce7d8;
}

body,html{
  width:1280px;
  height:auto;
  font-family: "Century Gothic";
	margin: auto;
	padding:0;
}

#container{
  height: auto;
	margin: auto;
}

.container{
  width:1280px;
  height:1653px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  float:right;
}

.logo img{
  width: 27.3%;
  float: left;
  opacity: 0.75;
}

nav{
  background-color: #fff;
  opacity: 0.8;
  float:right;
  height: 113px;
  width: 930px;
}

nav ul li{
  float: left;
  list-style: none;
}

nav ul li a{
  color:#000;
  font-size: 24px;
  display: inline-block;
  text-decoration: none;
  padding:28px;
  margin: 0;
  text-align: center;
}

.header-img{
  position: absolute;
  z-index: -1;
}

img.L-tours{
	display: inline-block;
}
img.M-tours{
	display: none;
	width: 0;
}
img.S-tours{
	display:none;
	width: 0;
}
.L{
	display:inline-block;
}
.M{
	display:none;
}
.S{
	display:none;
}


.slogan{
  font-size: 46px;
  margin:250px 40px 90px 0;
  color:#fff;
  width: 900px;
  font-style: italic;
  float:right;
  z-index: 2;
}

.bar{
  display: inline;
  background-color: #ed7f33;
  width: 100%;
  height: 300px;
  text-align: center;

}

.bar h4{
  display: inline;
  font-size: 28px;
  width: 9%;
  padding-bottom: 20px;
}

.discover{
  padding-left: 7.8%;
  padding-right: 0.78%;
}

.travel{
  padding-right: 17.1%;
  padding-left: 2.34%;
}
.enjoy{
  padding-right: 9.37%;
  padding-left: 1.56%;
}


.bar img{
  width: 115px;
  height: 115px;
  padding: 10px 100px;
}

.bar img:hover{
  opacity: 0.8;
  width: 115px;
  height: 115px;
}

.subtitles{
    background-color: #ed7f33;
}

.images{
  background-color: #ed7f33;
  height:130px;
  clear:both;
}


.tours img{
  display: block;
  margin-top: 30px;
}

.tours p{
  background-color: #fff;
  opacity: 0.75;
  width: 400px;
  font-size: 30px;
  float:right;
  clear: both;
  margin-right: 159.5px;
  padding: 15px;
  margin-top: 0;
}

h2{
  background-color: #fff;
  opacity: 0.75;
  height: 50px;
  padding:10px 10px 0 10px;
  font-size: 30px;
  margin: 0px 109.500px;
  z-index: 1;

}


.city h2{
    width: 170px;
    margin-left: 100px;

}

.city img{
  z-index: -1;
  margin-left: 100px;
  margin-top: 0;
  position: absolute;

}

.beach,.city{
  margin:70px 0 70px 0;
  height: 298px;
}

.beach img{
  margin-top: 0;
  position: absolute;
  margin-left: 100px;
  z-index: -1;

}

.beach h2{
    width: 200px;
    margin-left: 100px;
}

button{
  background-color: #e53270;
  opacity:0.9;
  color: #fff;
  border-style: none;
  border-radius: 12px;
  font-family: "Century Gothic";
  font-size: 26px;
  height: 50px;
  width: 180px;
  text-align: center;
  transition: all 0.05s;
  cursor: pointer;
  float: right;
  clear: both;
  margin-right: 159.5px;
}

button:hover{
  background-color: #e53270;
  opacity:0.8;
  height: 55px;
  width: 185px;
}

#button:active{
  background-color: #e53270;
}

footer{
  background-color: #e53270;
  position: absolute;
  width: 1280px;
  height: 113px;
  text-align: left;
  float: left;

}

.social{
  padding-left: 1025px;
  padding-top: 28px;
}

footer p{
  padding-left: 20px;
  padding-top: 45px;
  float: left;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  clear: both;
}

footer img{
  padding-right: 15px;
  width: 58px;
  height: 58px;
}

/*-------------------MEDIA QUERY------------------------*/
@media screen and (max-width:768px) and (min-width:332px){
	*{
		width: 100%;
		margin:auto;
		padding: 0;
	}

	body,html{
		max-width:768px;
		margin:0;
		padding:0;
	}
	.container{
		width: 768px;
		height:auto;
	}

.images{
	height:100px;
}
.slogan{
  font-size: 36px;
  margin:150px 40px 57px 40px;
	width:550px;
}
nav{
  float:right;
  height: 67.69px;
  width: 72.7011%;
}
nav ul li{
	width: 90px;
	margin: 0;
}

nav ul li a{
	margin-top: 6px;
  font-size: 15px;
  padding:15px;
	width: auto;
	display: inline-block;
	float: right;
}


/*--------END OF HEADER----------*/

.bar img{
	width: 80px;
	height: 80px;
	padding: 10px 40px;
}
.discover{
  padding-left:9%;
  padding-right: 1%;
}

.travel{
  padding-right: 6%;
  padding-left:4%;
}
.enjoy{
  padding-right: 2%;
  padding-left: 7%;
}

.bar h4 {
    display: inline;
    font-size: 23px;
    width: 9%;
    padding-bottom: 20px;
}
/*--------END OF BAR----------*/
img.L-tours{
	display: none;
}
img.M-tours{
	display: inline-block;
	width: 90%;
	margin: 0;
}
img.S-tours{
	display:none;
}
.L{
	display:none;
}
.M{
	display:inline-block;
	width: 100%;
}
.S{
	display:none;
}
.city,.beach{
	width: 90%;
	height: 200px;
	margin: 40px 30px;
}

.city h2,.beach h2{
	margin: 0;
	font-size: 26px;
	text-align: center;
}

h2{
	height: auto;
	padding: 5px;
}

.tours p{
  width: 390px;
  font-size: 22px;
  margin-right: 20px;
	padding: 5px;
}

button{
  border-radius: 12px;
  font-family: "Century Gothic";
  font-size: 20px;
  height: 40px;
  width: 150px;
  margin: 10px 20px;
}

button:hover{
	opacity:1;
  height: 40px;
  width: 150px;
}


/*--------END OF MAIN CONTENT---------*/

	footer{
	  width: 100%;
	  height: 90px;
	  text-align: left;
	  float: left;
	}

	footer p{
	  padding-left: 15px;
	  padding-top: 35px;
		width: auto;
	}

	.social{
	  padding-left: 20%;
	  padding-top: 15px;
		float: right;
		width: auto;
	}

/*--------END OF FOOTER----------*/
}
